{% extends "encyclopedia/layout.html" %}

{% block title %}

  Create a new page

{% endblock %}


{% block body %}


  

  <div class="container mb-3">

    <h1>Create New Page</h1>

    <form method="post">

      {% csrf_token %}
  
      <div class="form-group">
  
        <label for="title">Title:</label>
  
        <input type="text" class="form-control" id="title" name="title" required>
  
      </div>
  
      <div class="form-group">
  
        <label for="content">Content:</label>
  
        <textarea class="form-control" id="content" name="content" rows="10" required></textarea>
  
      </div>
  
      <button type="submit" class="btn btn-primary">Save</button>
  
    </form>
    <br>
    {% if error_message %}

    <div class="p-3 mb-2 mx-3  text-white bg-danger border-primary ">
      {{ error_message |safe }}
    </div>

  {% endif %}

{% endblock %}